<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Student Form</h1>
    <!--
        This is a shorthand method for typing 
        <form action ="/students" method = "post">
    --->
    <%= form_tag '/students' do %>
        <%= label_tag "First Name:" %>
            <%= text_field_tag :'student[first_name]' %>
        <%= label_tag "Last Name:" %>
            <%= text_field_tag :'student[last_name]' %>
        <%= submit_tag "Submit Student" %>
    <% end %>
</body>
</html>